* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0;
  margin: 0;
}
.multiverse {
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 33.33%;
  height: 300px;
}
.footerfixed{
    background-color:black;
    padding:30px;
    text-align:center;
    position:fixed;
    bottom:0;
    right:0;
    left:0;

}
.para1{
    float:left;
    color:white;
text-align:center;
font-family:verdana;
}
.para2{
    float:right;
    color:white;
    font-family:verdana;
}
